// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$userCRUDClient-primary: mat.define-palette(mat.$indigo-palette);
$userCRUDClient-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$userCRUDClient-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$userCRUDClient-theme: mat.define-light-theme(
  (
    color: (
      primary: $userCRUDClient-primary,
      accent: $userCRUDClient-accent,
      warn: $userCRUDClient-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($userCRUDClient-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  @include center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-gap-1 {
  display: flex;
  gap: 1rem;
}

.flex-gap-2 {
  display: flex;
  gap: 2rem;
}

.text-white {
  color: white;
}

.text-blue {
  color: blue;
}

.text-red {
  color: red;
}

.text-link {
  font-size: 16px;
  color: #d1e38a;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.px-2 {
  padding: 0 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
